STD_DB_HOST=host.docker.internal
STD_DB_PORT=3306
STD_DB_USER=root
STD_DB_PASSWORD=change-me
STD_DB_DATABASE=disaster_knowledge

STD_CHAOJIYING_USER=change-me
STD_CHAOJIYING_PASS=change-me
STD_CHAOJIYING_SOFTID=change-me

STD_BIND_IP=0.0.0.0
STD_HEADLESS_BROWSER=true
STD_WORKER_PORT=8765
STD_ARTIFACTS_DIR=./artifacts-prod
STD_TMP_DIR=./.tmp-prod
